<!DOCTYPE html>
<html lang="en">
<head>
    <title>Certification System&nbsp;-&nbsp;Login</title>
</head>
<body>
<form action="/login/service/do" method="post">
    <table>
        <tr>
            <td>
                username:
            </td>
            <td>
                <input type="text" name="userName"/>
            </td>
        </tr>
        <tr>
            <td>
                password:
            </td>
            <td>
                <input type="password" name="passWord"/>
            </td>
        </tr>
        <!--
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <input type="checkbox" name="autoAuth" value="1"/>Automatic Login week
            </td>
        </tr>
        -->
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <input type="submit" value="Login"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>